@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }

    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }

     .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
     }

     .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
     }

     .navbar.responsive .dropdown {
         float: none;
     }

     .navbar.responsive .dropdown-content {
          osition: relative;
     }

     .navbar.responsive .dropdown .dropbtn {
         display: block;
         width: 100%;
         text-align: left;
     }
}





* {
    box-sizing: border-box;
}

:visited {
    color: white;
}

::selection {
    background: black;
    color:white;
}





.active {
    background-color:;
    color: white;
}

blockquote {
    font-size: 1.5em;
    position:relative;
    margin:200px;
    padding: 1em;
    background: #efefef;

    color: black;

    border-left: 20px solid;
}

.buttonAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.center-h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.center-index {
    transform: translateY(200%);
}

.column {
    width: 33.33%;
}

.columnBody {
    flex: 50%;
    padding: 10px;
}

.columnFooter {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.container {
    position: absolute;
    font-size: 250%;
}

.content {
    padding: 16px;
}

div.header {
    background-image: url('https://live.staticflickr.com/65535/51265713589_2114185c64_z.jpg');
    background-position: 10% 290%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    color:white;
}

html, body {
    margin: 0;
    padding: 0;
}  

.homeHead {
    text-align:center;
}


.indexImage {
    width: 590px;
    height: 590px;
    border: 2px solid black;
    box-shadow: 10px 10px #1d1d1d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
    float: right;
}

li.homeLogo {
    float: left;
}

.navbar {
    background-color: #333;
    overflow:;
}

.navbar::after {
    clear: both;
    content: "";
    display: block;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}

.navbar .icon {
    display: none;
}

.row {
    display: flex;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: ghostwhite;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*this padding prevents quick sudden movements*/
.sticky + .content {
    padding-top: 60px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky, .navbar.responsive.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}






/*BELOW IS CODE SET TO BE TRANSFERRED OVER; when added to the selectors in order, the dropdown glitches*/

.dropdown {
    float: left;
    overflow:;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #333;
     font-family: inherit;
        margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}
